body {
	background-color: black;
}



.dino{
position: relative;
}

.Header1 {
  position: absolute;
  top: 5px;
  right: 20px;
  font-family: papyrus;
  font-size: 80px;
  color: #239D60;
  font-weight: 40px;
  text-decoration: overline;
}
@keyframes animation1{
	0%   {background-color:black; left:0px; top:0px;}
  50%  {background-color:#239D60; left:90%; top:0px}
  100%   {background-color:black; left:0px; top:0px;}
}

@keyframes animation2{
	0%   { transform: scaleX(-1);left:0px; top:0px;}
  50%  {transform: scaleX(-1);left:90%; top:0px}
  51% {transform: scaleX(1)}
  100%   { transform: scaleX(1);left:0px; top:0px;}
}
.footerphoto {
	position: relative;
	animation-name: animation2;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

div.scale-up-hor-center {
	font-family: papyrus ;
  font-size: 20px;
  width: 150px;
  height: 30px;
  position: relative;
  animation-name: animation1;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.vertical-menu{
	float: left;
	width: 20%;
	background-color:black;
	color: white;
}

.vertical-menu a {
  
  color: white; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
  font-family: Bradley Hand , cursive;
  font-size: 20px;
  font-weight: 5px;
}

.vertical-menu a:hover {
  background-color: #62760C; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
  background-color: #62760C; /* Add a green color to the "active/current" link */
  color: white;
}

.main {
	float: left;
	width: 79%;
	background-color: black;
	color: #CCFFBD;
	font-family: Bradley Hand , cursive;
  font-size: 30px;
  font-weight: 5px;
}


